<h2>Users#editプロフィール編集</h2>
<%= form_with model: @user do |f| %>
  <label for="inputName">name</label>
  <%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"name" %>
  <label for="inputImage">profileimage</label>
  <%= f.file_field :profile_image, placeholder: "profileimage", accept: "image/*" %>
  <%= f.submit "変更を保存" %>
<% end %>
