<% @books.each do |book| %>
  <div>
    <%= link_to "詳細", book_path(book.id) %>
    <p>Title:<%= book.title %></p>
    <p>Opinion:<%= book.body %></p>
    <p>name:<%= book.user.name %></p>
  </div>
<% end %>
