<h1>Books#show</h1>
<div>
  <p>Title:<%= @book.title %></p>
  <p>Opinion:<%= @book.body %></p>
  <p>name:<%= @book.user.name %></p>
  <% if @book.user == current_user %>
    <%= link_to "Destroy", book_path(@book), method: :delete %>
  <% end %>
</div>
